*{

  padding: 0px;
  margin: 0px;
  background: white,
}

/*font-family: 'Open Sans', sans-serif;*/

.contenidos {
  width: 1000px;
  height: auto;
  margin: auto;
  position: relative;
  background: black;
  }
  
  header {
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.2);
  }

  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d4a402;
  border-radius: 10px;
  display: block;
  box-shadow: 0 0 10px white inset;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
 box-shadow: 0 0 10px white inset;
 
    
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  }

li.dropdown {
  display: inline-block;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content a:hover {background-color: #d4a402}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

.contadorvisitas {
  
  float: left;
  width: 33.33%; 
  padding: 5px; 
  
  }

.twitter-timeline {
  float: right; 
  }

  #titu{
    
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    text-align: center;
    
  }


/*section{
  width: 920px;
  background: black;
  height:600px;
  float: left;
  margin-top: 10px;
  border-radius: 10px;
}*/


aside {
  width: auto;
  background: gray;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-top: 80px;
  border-radius: 10px;
}

footer, .push {
  height: 4em;
  }

  #subtitulo{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
  }
  

